In [2]:
import numpy as np
import pandas as pd

In [3]:
lst = [1, 2, 3]

In [5]:
lst[:2]

[1, 2]

In [11]:
prenoms = ['alice', 'pierre', 'mba']
arr = np.array([lst, prenoms])
arr

array([['1', '2', '3'],
       ['alice', 'pierre', 'mba']], dtype='<U21')

In [8]:
dico = {'age': lst, 'prenom': ['alice', 'pierre', 'mba']}

pd.DataFrame(dico)

   age  prenom
0    1   alice
1    2  pierre
2    3     mba