# Visualisation des Données: Travaux Pratiques Guidés

### Data

In [1]:
import pandas as pd

In [2]:
data = {
    'id_student': [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5],
    'grade': [12, 11, 13, 12, 7, 9, 4, 10, 15, 18, 19, 19, 10, 10, 10],
    'age': [12, 12, 12, 13, 13, 13, 12, 12, 12, 11, 11, 11, 12, 12, 12],
    'sex': ['m', 'm', 'm', 'm', 'm', 'm', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'f'],
}
df = pd.DataFrame(data)

In [3]:
df

    id_student  grade  age sex
0            1     12   12   m
1            1     11   12   m
2            1     13   12   m
3            2     12   13   m
4            2      7   13   m
5            2      9   13   m
6            3      4   12   f
7            3     10   12   f
8            3     15   12   f
9            4     18   11   f
10           4     19   11   f
11           4     19   11   f
12           5     10   12   f
13           5     10   12   f
14           5     10   12   f

## L'histogramme dans tous ses états

### Créez un historgrame de la variable '*grade*'

In [4]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Modifiez cet histogram pour afficher l'ensemble des données en seulement 3 barres

In [5]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Modifiez ce précédent paramètre et remplacez 3 par 30
- Combien de barres pouvez-vous compter ?
- Pourquoi ?

In [6]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Rendez ce graph plus esthétique grâce à Seaborn

In [7]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Augmentez la taille de ca graph

In [8]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Ajoutez des noms aux axes

In [9]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Ajoutez un titre au graphique

In [10]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Augmentez la taille du titre

In [11]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Colorez les barres en fonction du sex de l'étudiant(e)

In [12]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Utilisez plotly pour faire la même chose

In [13]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Affichez les histogrammes dans des graphiques séparés en utilisant **plt.subplots**

In [14]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Reprenez le même graphique composé, et ajoutez les histogrammes d'âge séparés par sex en dessous

In [15]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Faites la même chose avec *plotly*

In [16]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Affichez un histogramme de la note moyenne par étudiant

In [17]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Affichez les histogrammes de la note moyenne et de l'âge moyen par étudiant

In [18]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

## Les autres graphs dans leur milieu naturel
Créez un graph adapté au jeu de données

### Jeu de données n°1

In [19]:
# Generate data
import numpy as np
np.random.seed(10)

df = pd.DataFrame({
    'position_x': np.random.randn(1000),
    'position_y': np.random.randn(1000),
    'group': np.random.randint(0, 100, 1000)
})

#### Affichez les positions de l'ensemble des individus sur un même plot

In [20]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

#### Créez le même graph en utilisant des couleurs pour différencier les groupes (en utilisant matplotlib)

In [21]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

#### Créez le même graph en utilisant des couleurs pour différencier les groupes (en utilisant seaborn)

In [22]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Jeu de données n°2

In [23]:
# Generate data
def noise(mult=1):
    return np.random.randn(100) * mult

price_1 = 80 + np.arange(100) + noise(25)
price_2 = 100 + np.ones(100) + noise(10)
price_3 = np.arange(100)[::-1] * 2 + noise(40)

df = pd.DataFrame({
    'date': [*range(100), *range(100), *range(100)],
    'price': [*price_1, *price_2, *price_3],
    'object': [*np.ones(100), *np.ones(100)+1, *np.ones(100)+2],
})

#### Affichez les prix des objets sur un même graph

In [24]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

### Jeu de données n°3

In [25]:
# Generate data
df = pd.DataFrame({
    'year': [2022, 2022, 2022, 2022],
    'revenue': [300_000, 1_200_000, 800_000, 2_000_000],
    'company': ['ai rescue', 'auto marketing', 'gender equality', 'ecology for all'],
    'group': ['etik', 'suxess', 'etik', 'etik'],
})

#### Afficher le chiffre d'affaires de chaque entreprise, en les différenciant via les couleurs

In [26]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

#### Afficher la part de chiffre d'affaires de chaque entreprise par rapport au total de chiffre d'affaires

In [27]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

#### Afficher la part de chiffre d'affaires de chaque entreprise par rapport au total de chiffre d'affaires, ainsi que celui de son groupe

In [28]:
# ===============================================
#                 VOTRE REPONSE
# ===============================================

## L'envol du graphique

0. Choisissez un jeu de données qui se rapporte à vos intérêts sur [Kaggle](https://www.kaggle.com/datasets), [data.gouv](https://www.data.gouv.fr/fr/datasets/), ou bien des données personnelles que vous n'avez encore jamais explorées
1. Créez un ensemble de graphique de base en utilisant pandas et via les librairies de graph matplotlib, seaborn, plotly
2. Travaillez les couleurs, ajoutez des titres, labels, étiquettes de données, modifiez la taille de votre graph, créez des ensembles avec subplots.
3. Attaquez vous à un graph plus complexe (graph 3D, carte geographique, etc., neural graph)
4. Bonus: créez un dashboard intéractif grâce à [Dash](https://plotly.com/dash/)